.book {
    padding-top: 30px;
    padding-bottom: 30px;
}

.book .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.book__picture {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 35px 50px;
    background-color: #F3F2F1;
}

.book__content {
    margin: 0;
    padding: 35px 50px;
}


.book__category {
    color: #808080;
    text-transform: capitalize;
    margin: 0;
    margin-bottom: 25px;
}

.book__title {
    font-weight: 600;
    font-size: 28px;
    line-height: 32px;
    color: black;
    margin: 0;
    margin-bottom: 15px;
}

.book__author {
    margin: 0;
    margin-bottom: 35px;
    color: #c3c5c4;
    text-transform: capitalize;
    text-decoration: underline;
}

.book__subtitle {
    margin: 0;
    min-height: 160px;
    border: 1px solid #c3c5c4;
    padding: 15px;
}